<link rel="stylesheet" href="~/css/login.css" />

<div class="login-page">
    <div class="row">
        <div class="login-container">
            <div class="left-panel">
                <div>
                    <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                    <p class="left-panel-title">
                        SHEAFT
                    </p>
                    <p class="left-panel-phrase">
                        Accès interdit !
                    </p>
                    <div class="left-panel-button-container">
                    </div>
                </div>
            </div>
            <div class="form right-panel">
                <div class="form-container">
                    <div class="text-center form-header">
                        <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                        <p class="right-panel-title">
                            Accès interdit !
                        </p>
                    </div>
                    <p class="right-panel-phrase">Vous n'êtes pas autorisé à acceder à cette ressource</p>
                    <div class="login-form">
                        <a class="btn btn-primary action" href="https://app.sheaft.com">Retourner &agrave; l'application</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>