@model ForgotPasswordViewModel
<link rel="stylesheet" href="~/css/login.css"/>

<div class="login-page">
        <div class="row">
            <div class="login-container">
                <div class="left-panel">
                    <div>
                        <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                        <p class="left-panel-title">
                            SHEAFT
                        </p>
                        <p class="left-panel-phrase">
                        La mémoire vous revient ?
                        </p>
                        <div class="left-panel-button-container">
                            <a class="left-panel-button" href="@Url.Action("Login", "Account", new { returnUrl = Model.ReturnUrl })">Je me connecte</a>
                        </div>
                    </div>
                </div>
                <div class="form right-panel">
                    <div class="form-container">
                        <div class="text-center form-header">
                            <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                            <p class="right-panel-title">
                                Réinitialiser le mot de passe 
                            </p>
                        </div>
                        @if (!Model.Sent)
                        {
                        <p class="right-panel-phrase">Un <b>oubli de mot de passe</b> ? Renseignez simplement l'adresse e-mail correspondant à votre compte. Vous recevrez un lien de réinitialisation de mot de passe.</p>
                        <partial name="_ValidationSummary"/>
                        <form asp-route="ForgotPassword" class="login-form">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <fieldset>
                                <input type="email" class="form-control" placeholder="Adresse e-mail" asp-for="UserName">
                                <button name="button" class="btn btn-primary action">Réinitialiser</button>
                            </fieldset>
                        </form>
                        } else  {
                            <p class="right-panel-phrase">Nous avons envoyé un e-mail à l'adresse saisie contenant un lien vous permettant de réinitialiser votre mot de passe.</p>
                        }
                        <a class="right-panel-mobile-button" href="@Url.Action("Login", "Account", new { returnUrl = Model.ReturnUrl })">Retourner à la connexion</a>   
                    </div>
                </div>
            </div>
        </div>
    </div>