@model LogoutViewModel
<link rel="stylesheet" href="~/css/login.css" />

<div class="login-page">
    <div class="row">
        <div class="login-container">
            <div class="left-panel">
                <div>
                    <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                    <p class="left-panel-title">
                        SHEAFT
                    </p>
                    @*<p class="left-panel-phrase">
                        Se déconnecter
                    </p>
                    <div class="left-panel-button-container">
                    </div>*@
                </div>
            </div>
            <div class="form right-panel">
                <div class="form-container">
                    <div class="text-center form-header">
                        <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                        <p class="right-panel-title">
                            Se déconnecter
                        </p>
                    </div>
                    <p class="right-panel-phrase">Voulez-vous vous déconnecter de Sheaft ?</p>
                    <form asp-action="Logout" class="login-form">
                        <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                        <fieldset>
                            <button class="btn btn-primary action">Déconnexion</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>