@model ResetPasswordViewModel
<link rel="stylesheet" href="~/css/login.css" />

<div class="login-page">
    <div class="row">
        <div class="login-container">
            <div class="left-panel">
                <div>
                    <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                    <p class="left-panel-title">
                        SHEAFT
                    </p>
                    @*<p class="left-panel-phrase">
                        Choisissez un nouveau mot de passe
                    </p>
                    <div class="left-panel-button-container">
                        <a class="left-panel-button" href="@Url.Action("Login", "Account", new { returnUrl = Model.ReturnUrl })">Je me connecte</a>
                    </div>*@
                </div>
            </div>
            <div class="form right-panel">
                <div class="form-container">
                    <div class="text-center form-header">
                        <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                        <p class="right-panel-title">
                            Choisissez un nouveau mot de passe
                        </p>
                    </div>
                    <p class="right-panel-phrase"> </p>
                    <partial name="_ValidationSummary" />
                    <form asp-route="ResetPassword" class="login-form">

                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" asp-for="UserName" />
                        <input type="hidden" asp-for="Token" />
                        <fieldset>
                            <input type="password" class="form-control" placeholder="Votre nouveau mot de passe" asp-for="NewPassword">
                            <input type="password" class="form-control" placeholder="Confirmer votre mot de passe" asp-for="ConfirmPassword">
                            <button name="button" class="btn btn-primary action">Valider</button>
                        </fieldset>
                    </form>
                    <a class="right-panel-mobile-button" href="@Url.Action("Login", "Account", new { returnUrl = Model.ReturnUrl })">Retourner &agrave; la connexion</a>
                </div>
            </div>
        </div>
    </div>
</div>