<!DOCTYPE html>
<html lang="fr">
<head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png?v=lk24Jx578Cj">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png?v=lk24Jx578Cj">
    <link rel="shortcut icon" href="/assets/favicon.ico?v=lk24Jx578Cj">
    <meta name="theme-color" content="#009688">
    <meta name="description"
          content="Découvrez et commandez en quelques clics des produits de qualité issus de la production locale." />

    <title>Compte Sheaft</title>

    <link rel="stylesheet" href="~/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/brands.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="body-container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
