@model ErrorViewModel

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<div class="error-page">
    <br />
    <br />

    <div class="row text-center">
        <div class="col-sm-6 content">
            <div class="alert alert-danger">
                Nous sommes d&eacute;sol&eacute;, une erreur est survenue. R&eacute;essayez et si le probl&egrave;me persiste, contactez le support par email: <a href="mailto:support@sheaft.com">support@sheaft.com</a>

                @if (error != null)
                {
    <br />
                    <br />
                                    <strong>
                                        <em>
                                            @error
                                        </em>
                                    </strong> if (errorDescription != null)
                                    {
                    <div>@errorDescription</div>}
            }
            </div>

            @if (request_id != null)
            {
<div class="request-id">Identifiant de requ&ecirc;te : @request_id</div>            }
        </div>
    </div>
</div>
